body {
  background-color: #ebbc13;
  color: Blue;
  font-size: 175%;
}
/* Begin nav style */
ul.nav{
  list-style-type: none;
  margin:0;
  padding:0;
}

li.links{
  display: inline;
  padding: 3%;
}
/* End nav style */
/* Style for the top of the site */
p {
  color: pink;
  font-size: 300%;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

p.important{
  text-align: center;
  font-size:300%;
  color: Red;
  text-decoration: underline;
}
/* End style for top of site */

/* Start style for spacing */
p.spacing{
  font-size: 150%;
  color: red;
  background-color: white;
  margin-left: 10%;
}
/* End style for spacing */

/* Style hyperlinks */
a {
  text-decoration: none;
  color: white;
}
